<launch>

    <!--Predict Image-->
    <node pkg="realsense_stream" type="predict_image.py" name="image_predict" required = "true" />
    
    <!--Launch the camera node-->
    <include file = "$(find realsense2_camera)/launch/rs_camera.launch">
       <arg name = "enable_depth" value = "false" />
       <arg name = "enable_accel" value = "false" />
       <arg name = "enable_gyro" value = "false" />
    </include>
    
    <!--Arduino node-->
    <include file="$(find base_locomotion)/launch/arduino_launch.launch" />

    <!--Arm Communication-->
    <node pkg="arm_control" type="arm_master.py" name="arm_node" required = "true" />

    <!--mission parser initiate-->
    <node pkg="mission_parse" type="mission_parse.py" name="mission_parse" respawn="true" />
    
</launch>